<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-20}</string>
                <key>spriteSize</key>
                <string>{347,516}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{519,344},{347,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-32}</string>
                <key>spriteSize</key>
                <string>{375,492}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{420,693},{375,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-27}</string>
                <key>spriteSize</key>
                <string>{365,502}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1476,348},{365,502}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,-29}</string>
                <key>spriteSize</key>
                <string>{345,498}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1539,1},{345,498}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-25}</string>
                <key>spriteSize</key>
                <string>{333,506}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1,1},{333,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-22}</string>
                <key>spriteSize</key>
                <string>{337,512}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{509,1},{337,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-21}</string>
                <key>spriteSize</key>
                <string>{341,514}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1023,1},{341,514}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{345,516}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1,340},{345,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-125,15}</string>
                <key>spriteSize</key>
                <string>{382,517}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1411,715},{382,517}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-82}</string>
                <key>spriteSize</key>
                <string>{484,397}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1278,1099},{484,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-85}</string>
                <key>spriteSize</key>
                <string>{484,401}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{544,1487},{484,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-85}</string>
                <key>spriteSize</key>
                <string>{484,401}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1030,1498},{484,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,3}</string>
                <key>spriteSize</key>
                <string>{400,541}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1,1455},{400,541}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,4}</string>
                <key>spriteSize</key>
                <string>{378,495}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{914,714},{378,495}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-17}</string>
                <key>spriteSize</key>
                <string>{368,437}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1037,344},{368,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-109,-52}</string>
                <key>spriteSize</key>
                <string>{388,383}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{402,1070},{388,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-93,-43}</string>
                <key>spriteSize</key>
                <string>{382,399}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1,1059},{382,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-38}</string>
                <key>spriteSize</key>
                <string>{370,417}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1,687},{370,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-40}</string>
                <key>spriteSize</key>
                <string>{420,425}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1516,1498},{420,425}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-80}</string>
                <key>spriteSize</key>
                <string>{484,391}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{792,1094},{484,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>felmale_attack.png</string>
            <key>size</key>
            <string>{2038,1919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27228a307d02a36194c4a356ab54a4f5:d8a8cd01deebbeb8f24ae8c536945a01:d3afbba4033c3e04f653d618d80b2079$</string>
            <key>textureFileName</key>
            <string>felmale_attack.png</string>
        </dict>
    </dict>
</plist>
