<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dead (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-125,15}</string>
                <key>spriteSize</key>
                <string>{382,517}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1,1345},{382,517}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,3}</string>
                <key>spriteSize</key>
                <string>{400,541}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1433,1512},{400,541}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,4}</string>
                <key>spriteSize</key>
                <string>{378,495}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1049,1006},{378,495}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-17}</string>
                <key>spriteSize</key>
                <string>{368,437}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1571,373},{368,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-109,-52}</string>
                <key>spriteSize</key>
                <string>{388,383}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1546,1127},{388,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-93,-43}</string>
                <key>spriteSize</key>
                <string>{382,399}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1571,743},{382,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-38}</string>
                <key>spriteSize</key>
                <string>{370,417}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1573,1},{370,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-40}</string>
                <key>spriteSize</key>
                <string>{420,425}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1006,1386},{420,425}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-80}</string>
                <key>spriteSize</key>
                <string>{484,391}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{520,1349},{484,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{341,522}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{525,1006},{341,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-16}</string>
                <key>spriteSize</key>
                <string>{327,522}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1,1},{327,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-16}</string>
                <key>spriteSize</key>
                <string>{329,522}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{525,1},{329,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-16}</string>
                <key>spriteSize</key>
                <string>{339,522}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1,1004},{339,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-16}</string>
                <key>spriteSize</key>
                <string>{337,522}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{523,665},{337,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-16}</string>
                <key>spriteSize</key>
                <string>{337,522}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1047,667},{337,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-17}</string>
                <key>spriteSize</key>
                <string>{335,520}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1,663},{335,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-17}</string>
                <key>spriteSize</key>
                <string>{333,520}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1049,332},{333,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-16}</string>
                <key>spriteSize</key>
                <string>{331,522}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1,330},{331,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-16}</string>
                <key>spriteSize</key>
                <string>{331,522}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{525,332},{331,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-16}</string>
                <key>spriteSize</key>
                <string>{329,522}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1049,1},{329,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>felmale_idle.png</string>
            <key>size</key>
            <string>{2009,1913}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c204c05d72f586f36d827fd1b0fc3d3:2c053d10aadd8ee7cc21cf9124591874:b970da4a929c29020ab7e95800c44b08$</string>
            <key>textureFileName</key>
            <string>felmale_idle.png</string>
        </dict>
    </dict>
</plist>
