<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dead (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-125,15}</string>
                <key>spriteSize</key>
                <string>{382,517}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{498,1028},{382,517}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-82}</string>
                <key>spriteSize</key>
                <string>{484,397}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1,1406},{484,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-85}</string>
                <key>spriteSize</key>
                <string>{484,401}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{487,1412},{484,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,3}</string>
                <key>spriteSize</key>
                <string>{400,541}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1400,1520},{400,541}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,4}</string>
                <key>spriteSize</key>
                <string>{378,495}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1,1026},{378,495}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-17}</string>
                <key>spriteSize</key>
                <string>{368,437}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1599,757},{368,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-109,-52}</string>
                <key>spriteSize</key>
                <string>{388,383}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1017,1028},{388,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-93,-43}</string>
                <key>spriteSize</key>
                <string>{382,399}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1623,1},{382,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-38}</string>
                <key>spriteSize</key>
                <string>{370,417}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1603,385},{370,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-40}</string>
                <key>spriteSize</key>
                <string>{420,425}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{973,1413},{420,425}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-80}</string>
                <key>spriteSize</key>
                <string>{484,391}</string>
                <key>spriteSourceSize</key>
                <string>{684,627}</string>
                <key>textureRect</key>
                <string>{{1407,1127},{484,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{341,522}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{539,342},{341,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-19}</string>
                <key>spriteSize</key>
                <string>{341,538}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1063,342},{341,538}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{339,540}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1,1},{339,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{339,534}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{543,1},{339,534}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-16}</string>
                <key>spriteSize</key>
                <string>{341,530}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1,683},{341,530}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{341,524}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{533,685},{341,524}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-19}</string>
                <key>spriteSize</key>
                <string>{341,538}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1059,685},{341,538}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{339,542}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1079,1},{339,542}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{339,536}</string>
                <key>spriteSourceSize</key>
                <string>{521,576}</string>
                <key>textureRect</key>
                <string>{{1,342},{339,536}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>female_walk.png</string>
            <key>size</key>
            <string>{2037,1921}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbd1ec907ba4a52f4fc48080f5032e89:50c9fc3bbde7845eeab4f44eb3b67ce0:98a17c0abb8e5d94e687206d8587510a$</string>
            <key>textureFileName</key>
            <string>female_walk.png</string>
        </dict>
    </dict>
</plist>
