<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dead (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-123,9}</string>
                <key>spriteSize</key>
                <string>{383,424}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1378,1000},{383,424}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-68}</string>
                <key>spriteSize</key>
                <string>{497,278}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1,1},{497,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-72}</string>
                <key>spriteSize</key>
                <string>{497,276}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{500,1},{497,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-73}</string>
                <key>spriteSize</key>
                <string>{497,276}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{999,1},{497,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,2}</string>
                <key>spriteSize</key>
                <string>{409,458}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1424,289},{409,458}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,14}</string>
                <key>spriteSize</key>
                <string>{381,432}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{589,1445},{381,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-1}</string>
                <key>spriteSize</key>
                <string>{347,386}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{972,1165},{347,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-17}</string>
                <key>spriteSize</key>
                <string>{295,378}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1334,1514},{295,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-18}</string>
                <key>spriteSize</key>
                <string>{313,374}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1631,1385},{313,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-19}</string>
                <key>spriteSize</key>
                <string>{325,370}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1631,1700},{325,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-31}</string>
                <key>spriteSize</key>
                <string>{421,360}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{972,1514},{421,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-66}</string>
                <key>spriteSize</key>
                <string>{493,286}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1498,1},{493,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{284,461}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{500,279},{284,461}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-21}</string>
                <key>spriteSize</key>
                <string>{300,455}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1,863},{300,455}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-21}</string>
                <key>spriteSize</key>
                <string>{296,455}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{921,867},{296,455}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{294,457}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{923,571},{294,457}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{292,459}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1,281},{292,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{290,459}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{963,279},{290,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{286,459}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1,575},{286,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{288,459}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{462,565},{288,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-20}</string>
                <key>spriteSize</key>
                <string>{290,457}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{462,855},{290,457}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-21}</string>
                <key>spriteSize</key>
                <string>{292,455}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1,1461},{292,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-21}</string>
                <key>spriteSize</key>
                <string>{292,455}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{295,1461},{292,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{294,455}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1,1165},{294,455}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{296,455}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{458,1147},{296,455}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-21}</string>
                <key>spriteSize</key>
                <string>{298,455}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1382,700},{298,455}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>male_idle.png</string>
            <key>size</key>
            <string>{2006,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd58866bb0918c9d0458b8b4391be221:516fefbf79e23eabe56d45d0c5124857:d939d3869897668e01e60791ff7596ba$</string>
            <key>textureFileName</key>
            <string>male_idle.png</string>
        </dict>
    </dict>
</plist>
