<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dead (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-123,9}</string>
                <key>spriteSize</key>
                <string>{383,424}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1457,1},{383,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-68}</string>
                <key>spriteSize</key>
                <string>{497,278}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1,1},{497,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-72}</string>
                <key>spriteSize</key>
                <string>{497,276}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1,500},{497,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-73}</string>
                <key>spriteSize</key>
                <string>{497,276}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1,999},{497,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,2}</string>
                <key>spriteSize</key>
                <string>{409,458}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1269,933},{409,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,14}</string>
                <key>spriteSize</key>
                <string>{381,432}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1457,427},{381,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-1}</string>
                <key>spriteSize</key>
                <string>{347,386}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1176,1410},{347,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-17}</string>
                <key>spriteSize</key>
                <string>{295,378}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1,1498},{295,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-18}</string>
                <key>spriteSize</key>
                <string>{313,374}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{1525,1393},{313,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-19}</string>
                <key>spriteSize</key>
                <string>{325,370}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{381,1472},{325,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-31}</string>
                <key>spriteSize</key>
                <string>{421,360}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{753,1428},{421,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-66}</string>
                <key>spriteSize</key>
                <string>{493,286}</string>
                <key>spriteSourceSize</key>
                <string>{629,526}</string>
                <key>textureRect</key>
                <string>{{279,500},{493,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{284,461}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1171,470},{284,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-18}</string>
                <key>spriteSize</key>
                <string>{284,469}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{885,476},{284,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-22}</string>
                <key>spriteSize</key>
                <string>{316,475}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{567,480},{316,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-19}</string>
                <key>spriteSize</key>
                <string>{336,475}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{279,995},{336,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-16}</string>
                <key>spriteSize</key>
                <string>{336,469}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{617,957},{336,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-18}</string>
                <key>spriteSize</key>
                <string>{322,467}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1129,1},{322,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-18}</string>
                <key>spriteSize</key>
                <string>{312,461}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{955,947},{312,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{274,477}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{563,1},{274,477}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-19}</string>
                <key>spriteSize</key>
                <string>{280,479}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{281,1},{280,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-16}</string>
                <key>spriteSize</key>
                <string>{288,473}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{839,1},{288,473}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WalkAndDead.png</string>
            <key>size</key>
            <string>{1841,1798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d587150383dd44f393c84d972267c3e:2769eaa9be68c3fbcc55a63a0abf8541:8414d6ae3c2c231b62ed80831eabd18f$</string>
            <key>textureFileName</key>
            <string>WalkAndDead.png</string>
        </dict>
    </dict>
</plist>
